# Predicting the season
This is where things get extremely arbitrary. Each team will be given a rating purely based off my intuition as a basketball fan. Each team will be given an advantage or disadvantage in each game depending on whether they're home or away or based on how many days rest they have had before the game. There is also an element of randomness in basketball. When predicting each game I will include a random variable that will accountable for 15% of the likelihood of the outcome of the game.

## Imports

In [166]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import time

import datetime

import random

# Loading the NBA Games

In [167]:
df = pd.read_excel('../NBA_game_data.xlsx')
df.shape, df.dtypes

((1230, 67),
 Date                    datetime64[ns]
 Away_team                       object
 Home_team                       object
 Philadelphia 76ers               int64
 Los Angeles Lakers               int64
                              ...
 Miami Heat last game    datetime64[ns]
 away_last_date          datetime64[ns]
 home_last_Date          datetime64[ns]
 away_team_dslg                   int64
 home_team_dslg                   int64
 Length: 67, dtype: object)

# Rating each team
Ratings will be floats between 0.0 and 10.0

In [168]:
df['Away_team'].unique()

array(['Philadelphia 76ers', 'Los Angeles Lakers', 'Orlando Magic',
       'Washington Wizards', 'Houston Rockets', 'New Orleans Pelicans',
       'New York Knicks', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Oklahoma City Thunder', 'Charlotte Hornets', 'Denver Nuggets',
       'Dallas Mavericks', 'Portland Trail Blazers', 'Milwaukee Bucks',
       'Los Angeles Clippers', 'San Antonio Spurs', 'Toronto Raptors',
       'Boston Celtics', 'Detroit Pistons', 'Memphis Grizzlies',
       'Utah Jazz', 'Phoenix Suns', 'Minnesota Timberwolves',
       'Sacramento Kings', 'Indiana Pacers', 'Brooklyn Nets',
       'Golden State Warriors', 'Atlanta Hawks', 'Miami Heat'],
      dtype=object)

In [224]:
team_ratings = {'Philadelphia 76ers':8.8, 'Los Angeles Lakers':7.9, 'Orlando Magic':7.0,
       'Washington Wizards':7.4, 'Houston Rockets':6.0, 'New Orleans Pelicans':8.4,
       'New York Knicks':7.4, 'Chicago Bulls':7.9, 'Cleveland Cavaliers':8.4,
       'Oklahoma City Thunder':6.5, 'Charlotte Hornets':6.7, 'Denver Nuggets':9.1,
       'Dallas Mavericks':8.7, 'Portland Trail Blazers':8.0, 'Milwaukee Bucks':9.0,
       'Los Angeles Clippers':9.0, 'San Antonio Spurs':6.0, 'Toronto Raptors':8.2,
       'Boston Celtics':8.8, 'Detroit Pistons':6.8, 'Memphis Grizzlies':8.4,
       'Utah Jazz':6.0, 'Phoenix Suns':8.6, 'Minnesota Timberwolves':8.6,
       'Sacramento Kings':7.7, 'Indiana Pacers':6.6, 'Brooklyn Nets':8.7,
       'Golden State Warriors':8.9, 'Atlanta Hawks':8.4, 'Miami Heat':8.4}

In [225]:
len(team_ratings)

30

# Add team ratings to Dataframe

In [226]:
df['Away_team_rating'] = df['Away_team'].map(team_ratings)
df['Home_team_rating'] = df['Home_team'].map(team_ratings)

In [227]:
df.head(2)

,Date,Away_team,Home_team,Philadelphia 76ers,Los Angeles Lakers,Orlando Magic,Washington Wizards,Houston Rockets,New Orleans Pelicans,New York Knicks,...,Brooklyn Nets last game,Golden State Warriors last game,Atlanta Hawks last game,Miami Heat last game,away_last_date,home_last_Date,away_team_dslg,home_team_dslg,Away_team_rating,Home_team_rating
0,2022-10-18,Philadelphia 76ers,Boston Celtics,1,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,2022-04-09,2022-04-09,192,192,8.8,8.8
1,2022-10-18,Los Angeles Lakers,Golden State Warriors,0,1,0,0,0,0,0,...,NaT,2022-04-09,NaT,NaT,2022-04-09,2022-04-09,192,192,7.9,8.9

# Simulating games

In [228]:
team_wins = {'Philadelphia 76ers':0, 'Los Angeles Lakers':0, 'Orlando Magic':0,
       'Washington Wizards':0, 'Houston Rockets':0, 'New Orleans Pelicans':0,
       'New York Knicks':0, 'Chicago Bulls':0, 'Cleveland Cavaliers':0,
       'Oklahoma City Thunder':0, 'Charlotte Hornets':0, 'Denver Nuggets':0,
       'Dallas Mavericks':0, 'Portland Trail Blazers':0, 'Milwaukee Bucks':0,
       'Los Angeles Clippers':0, 'San Antonio Spurs':0, 'Toronto Raptors':0,
       'Boston Celtics':0, 'Detroit Pistons':0, 'Memphis Grizzlies':0,
       'Utah Jazz':0, 'Phoenix Suns':0, 'Minnesota Timberwolves':0,
       'Sacramento Kings':0, 'Indiana Pacers':0, 'Brooklyn Nets':0,
       'Golden State Warriors':0, 'Atlanta Hawks':0, 'Miami Heat':0}

Loop through dataframe

In [262]:
teams = df['Away_team'].unique()
wins_df = pd.DataFrame(teams)
for i in range(1000):
    team_wins_copy = team_wins.copy()
    for index, row in df.iterrows():
        away_team_rating = row['Away_team_rating'] * 0.97 # slight disadvantage for playing away
        home_team_rating = row['Home_team_rating']

        # penalise away team for limited rest days
        if row['away_team_dslg'] == 1:
            away_team_rating = away_team_rating * 0.85
        elif row['away_team_dslg'] == 2:
            away_team_rating = away_team_rating * 0.9
        elif row['away_team_dslg'] == 3:
            away_team_rating = away_team_rating * 0.95

        # penalise home team for limited rest days   
        if row['home_team_dslg'] == 1:
            home_team_rating = home_team_rating * 0.85
        elif row['home_team_dslg'] == 2:
            home_team_rating = home_team_rating * 0.9
        elif row['home_team_dslg'] == 3:
            home_team_rating = home_team_rating * 0.95

        away_team_rating = (away_team_rating * 0.75) + (random.randint(0, 10) * 0.25)
        home_team_rating = (home_team_rating * 0.75) + (random.randint(0, 10) * 0.25)

        if away_team_rating > home_team_rating:
            team_wins_copy[row['Away_team']] = team_wins_copy[row['Away_team']] + 1
        elif home_team_rating > away_team_rating:
            team_wins_copy[row['Home_team']] = team_wins_copy[row['Home_team']] + 1
        elif home_team_rating == away_team_rating:
            # if the ratings are tied then the home team wins
            team_wins_copy[row['Home_team']] = team_wins_copy[row['Home_team']] + 1

        wins_df[i+1] = wins_df[0].map(team_wins_copy)

In [263]:
wins_df

,0,1,2,3,4,5,6,7,8,9,...,991,992,993,994,995,996,997,998,999,1000
0,Philadelphia 76ers,54,65,58,52,59,63,54,50,54,...,57,58,56,46,60,57,61,60,55,53
1,Los Angeles Lakers,40,39,40,41,48,40,33,35,37,...,44,39,47,43,46,43,40,42,39,37
2,Orlando Magic,30,29,18,30,24,28,20,24,29,...,30,23,27,28,30,37,28,28,20,28
3,Washington Wizards,29,39,30,23,41,31,37,38,32,...,33,32,36,34,39,40,34,40,29,38
4,Houston Rockets,14,11,12,11,9,13,17,11,18,...,15,11,8,13,14,11,10,11,10,14
5,New Orleans Pelicans,53,46,53,44,43,49,41,53,54,...,51,47,48,48,54,45,47,41,44,45
6,New York Knicks,35,34,32,30,40,32,31,32,33,...,33,29,37,25,35,34,28,31,29,29
7,Chicago Bulls,43,45,47,40,44,35,34,47,34,...,42,44,43,40,40,34,44,37,50,50
8,Cleveland Cavaliers,43,52,45,52,44,52,57,52,50,...,45,45,54,48,41,50,54,48,51,53
9,Oklahoma City Thunder,15,15,20,23,14,19,19,16,16,...,11,23,27,24,19,20,16,23,21,17
10,Charlotte Hornets,20,22,23,15,21,25,16,17,30,...,28,22,19,26,24,26,19,24,22,21
11,Denver Nuggets,59,57,65,64,57,61,60,62,63,...,60,59,57,63,64,61,64,56,61,56
12,Dallas Mavericks,54,51,59,57,51,51,60,53,58,...,51,53,51,51,53,57,46,53,53,58
13,Portland Trail Blazers,47,47,42,37,44,34,48,44,42,...,43,51,41,47,42,46,40,37,44,38
14,Milwaukee Bucks,51,54,61,58,58,62,61,65,55,...,64,60,59,65,59,55,66,53,61,65
15,Los Angeles Clippers,58,58,55,58,53,59,57,59,61,...,62,55,55,60,61,56,52,55,52,56
16,San Antonio Spurs,13,15,8,13,18,16,14,18,13,...,16,16,16,17,10,13,18,13,16,6
17,Toronto Raptors,48,38,41,45,46,43,46,41,45,...,47,51,50,48,44,46,38,46,41,43
18,Boston Celtics,53,56,54,61,55,58,54,56,56,...,48,64,46,56,60,54,56,52,53,53
19,Detroit Pistons,23,22,29,23,20,23,21,21,24,...,23,21,20,21,24,21,24,22,21,28
20,Memphis Grizzlies,56,51,44,49,51,60,54,53,44,...,51,49,48,47,49,50,46,48,50,54
21,Utah Jazz,14,11,18,27,14,16,16,15,14,...,12,16,11,10,10,16,16,16,18,17
22,Phoenix Suns,49,57,52,52,53,51,54,51,58,...,52,50,52,52,54,59,50,52,52,52
23,Minnesota Timberwolves,49,51,58,49,52,51,58,52,51,...,58,52,53,54,45,45,55,55,54,54
24,Sacramento Kings,41,34,35,36,37,37,37,33,44,...,37,39,40,45,40,40,41,45,45,38
25,Indiana Pacers,20,28,22,20,25,23,22,21,21,...,29,20,21,20,16,21,23,21,26,27
26,Brooklyn Nets,59,49,49,60,53,49,51,53,50,...,45,52,47,51,51,48,55,55,55,56
27,Golden State Warriors,56,55,59,63,59,54,60,62,51,...,51,56,61,57,51,50,60,67,59,54
28,Atlanta Hawks,57,50,47,48,49,50,45,47,42,...,43,47,51,44,50,49,50,49,53,48
29,Miami Heat,47,49,54,49,48,45,53,49,51,...,49,46,49,47,45,46,49,50,46,42

# Mean wins

In [294]:
wins_df['mean_wins'] = wins_df.iloc[:, 1:1001].mean(axis=1).round()

In [296]:
wins_df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,993,994,995,996,997,998,999,1000,Mean_wins,mean_wins
0,Philadelphia 76ers,54,65,58,52,59,63,54,50,54,...,56,46,60,57,61,60,55,53,55.0,55.0
1,Los Angeles Lakers,40,39,40,41,48,40,33,35,37,...,47,43,46,43,40,42,39,37,41.0,41.0

# Split by Conference

In [300]:
wins_df[0].unique()

array(['Philadelphia 76ers', 'Los Angeles Lakers', 'Orlando Magic',
       'Washington Wizards', 'Houston Rockets', 'New Orleans Pelicans',
       'New York Knicks', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Oklahoma City Thunder', 'Charlotte Hornets', 'Denver Nuggets',
       'Dallas Mavericks', 'Portland Trail Blazers', 'Milwaukee Bucks',
       'Los Angeles Clippers', 'San Antonio Spurs', 'Toronto Raptors',
       'Boston Celtics', 'Detroit Pistons', 'Memphis Grizzlies',
       'Utah Jazz', 'Phoenix Suns', 'Minnesota Timberwolves',
       'Sacramento Kings', 'Indiana Pacers', 'Brooklyn Nets',
       'Golden State Warriors', 'Atlanta Hawks', 'Miami Heat'],
      dtype=object)

In [307]:
west = ['Los Angeles Lakers', 'Houston Rockets', 'New Orleans Pelicans',
       'Oklahoma City Thunder', 'Denver Nuggets', 'Dallas Mavericks',
        'Portland Trail Blazers', 'Los Angeles Clippers', 'San Antonio Spurs',
       'Memphis Grizzlies', 'Utah Jazz', 'Phoenix Suns', 'Minnesota Timberwolves',
       'Sacramento Kings', 'Golden State Warriors']

east = ['Philadelphia 76ers', 'Orlando Magic', 'Washington Wizards',
        'New York Knicks', 'Chicago Bulls', 'Cleveland Cavaliers',
        'Charlotte Hornets', 'Milwaukee Bucks', 'Toronto Raptors',
       'Boston Celtics', 'Detroit Pistons', 'Indiana Pacers', 'Brooklyn Nets',
       'Atlanta Hawks', 'Miami Heat']

In [310]:
west_df = pd.DataFrame(west)
east_df = pd.DataFrame(east)

In [323]:
team_win_dict = wins_df[[0, 'mean_wins']].set_index(0).to_dict('dict')['mean_wins']

In [328]:
west_df['Wins'] = west_df[0].map(team_win_dict)
east_df['Wins'] = east_df[0].map(team_win_dict)

In [342]:
west_df = west_df.rename(columns={0:"Team"})
east_df = east_df.rename(columns={0:"Team"})

In [352]:
west_df.sort_values(by=['Wins'], ascending=False).reset_index(drop=True)

                      Team  Wins
0           Denver Nuggets  59.0
1     Los Angeles Clippers  59.0
2    Golden State Warriors  56.0
3         Dallas Mavericks  55.0
4   Minnesota Timberwolves  54.0
5             Phoenix Suns  52.0
6        Memphis Grizzlies  49.0
7     New Orleans Pelicans  48.0
8   Portland Trail Blazers  43.0
9       Los Angeles Lakers  41.0
10        Sacramento Kings  38.0
11   Oklahoma City Thunder  19.0
12               Utah Jazz  15.0
13         Houston Rockets  14.0
14       San Antonio Spurs  14.0

In [353]:
east_df.sort_values(by=['Wins'], ascending=False).reset_index(drop=True)

                   Team  Wins
0       Milwaukee Bucks  58.0
1    Philadelphia 76ers  55.0
2        Boston Celtics  55.0
3         Brooklyn Nets  53.0
4            Miami Heat  50.0
5   Cleveland Cavaliers  49.0
6         Atlanta Hawks  49.0
7       Toronto Raptors  46.0
8         Chicago Bulls  41.0
9    Washington Wizards  33.0
10      New York Knicks  32.0
11        Orlando Magic  27.0
12      Detroit Pistons  24.0
13    Charlotte Hornets  22.0
14       Indiana Pacers  21.0